---
import Icon from "./Icon.astro";
import { FIRST_NAME, LAST_NAME, GITHUB_URL, EMAIL } from "../constants.ts";
---

<style></style>
<footer
    class="flex justify-between text-base items-center flex-wrap p-2 border-t border-primary-900"
>
    <div>© 2024 {FIRST_NAME} {LAST_NAME}</div>
    <ul class="flex">
        <li class="mx-1">
            <a
                href=`https://${GITHUB_URL}`
                target="_blank"
                aria-label=`${FIRST_NAME}'s GitHub`
                class="dark:fill-primary-200 dark:hover:fill-primary-700"
            >
                <Icon type="github" class="w-7 h-7" />
            </a>
        </li>
        <li class="mx-1">
            <a
                href=`mailto:${EMAIL}`
                class="dark:fill-primary-200 dark:hover:fill-primary-700"
                aria-label=`${FIRST_NAME}'s Email`
            >
                <Icon type="mail" class="w-7 h-7" />
            </a>
        </li>
        <li class="mx-1">
            <a
                href="/rss.xml"
                target="_blank"
                class="dark:fill-primary-200 dark:hover:fill-primary-700"
                aria-label="RSS Feed"
            >
                <Icon type="rss" class="w-7 h-7" />
            </a>
        </li>
    </ul>
</footer>
